.list-up {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
}

.lift-button:hover {
    color: #747bff;
}

.lift-button-selected {
    color: darkorange;
    outline: white;

}

.lift-button-selected:hover {
    color: red;
    outline: white;
}